.produto{
    position: absolute;
    width: 100%;
    
    height: 100%;
    margin-top:0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.produto header{
    margin-top: 0;
}
.produto .info{
    display: grid;
    grid-template-columns: auto auto;
    /* background: #fff; */
    width: 100%;
    height: 89%;
    margin-top: 0px;
}

.produto .info .esquerda{
    height: 100%;
    width: 100%;
    /* background: blue; */
    /* border: 5px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    /* text-align: center;
    align-items: center;
    justify-content: center; */
}

.produto .info .esquerda .massa{
    position: relative;
    display: inline-block;
    margin-top: 0;
    width: 70%;
    background: rgb(224, 224, 220);
    border-radius: 5px;
    cursor: pointer;
}

.massa .conteudoMassa{
    display: none;
    position: absolute;
    background-color: rgb(224, 224, 220);
    width: 100%;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    overflow-y: scroll;
}

.massa:hover .conteudoMassa{
    
    border:none;
    display:block;
}
.conteudoMassa::-webkit-scrollbar {
    display: none;
} 
.produto .info .esquerda .borda{
    position: relative;
    display: inline-block;
    margin-top:7%;
    width: 70%;
    background: rgb(224, 224, 220);
    border-radius: 5px;
    cursor: pointer;
}
.conteudoBorda{
    display: none;
    position: absolute;
    background-color: rgb(224, 224, 220);
    width: 100%;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    overflow-y: scroll;
    
}
.conteudoBorda::-webkit-scrollbar {
    display: none;
}     
.conteudoBorda .ul{
    list-style: none;
    
}
.borda:hover .conteudoBorda{
    border:none;
    display:block;
    align-items: center;
    text-align: center;
    list-style: none;
}


.produto .info .esquerda .recheio{
    position: relative;
    display: inline-block;
    margin-top:7%;
    width: 70%;
    background: rgb(224, 224, 220);
    border-radius: 5px;
    
    cursor: pointer;
}
.conteudoRecheio{
    display: none;
    position: absolute;
    background-color:rgb(224, 224, 220);
    width: 100%;
    height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    text-align: justify;
    overflow-y: scroll;
}
.conteudoRecheio::-webkit-scrollbar {
    display: none;
} 
.recheio:hover .conteudoRecheio{
    border:none;
    display:block;
    border-radius: none;
}

.lista{
    list-style: none;
    overflow-y: scroll;
}
.lista::-webkit-scrollbar {
    display: none;
}     

.lista .li{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    
}

.li input{
    margin-top: 10px;
    margin-left: 10%;
}

.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.direita .botaoBebida{
    margin-bottom: 5%;
    width: 50%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    background: yellow;
    border-color: yellow;
    font-size: 20px;
}
.direita .botaoFinalizar{
    margin-bottom: 5%;
    width: 50%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    background: crimson;
    border-color: crimson;
    font-size: 20px;
    color: white;
}

.direita h1{
    margin-bottom: 120px;
    font-size: 50px;
    color: #fff;
}

