.cabecalho{
    background: rgb(0,0,0,0.7);
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cabecalho div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}
.cabecalho div img {
    height:100%;
    width: 15%;

}
.cabecalho div h1 {
    color: #fff;
}

.botaoSair {
    position: absolute;
    right: 50px;
    
    /* //padding: 0 25px 0 0; */
    /* padding-left: 50%; */
    /* margin-left: 50%; */
    /* height: 40% ; */
    color: #fff;
}
