.cabecalho{
    background: rgb(0,0,0,0.7);
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cabecalho div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}
.cabecalho div img {
    height:100%;
    width: 15%;
}

.cabecalho div img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.cabecalho div h1 {
    color: #fff;
}

.cabecalho div h1:hover {
    cursor: pointer;
    opacity: 0.5;
}

.botaoSair {
    position: absolute;
    right: 50px;
    color: #fff;
}

.botaoSair:hover {
    cursor: pointer;
    opacity: 0.5;
}

.carrinho{
    position: absolute;
    right: 150px;
    color: #fff;
}

.carrinho:hover {
    opacity: 0.5;
    cursor: pointer;
}