.cabecalho{
    width: 100%;
    background: rgb(0,0,0,0.7);
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: -10px;

}
.cabecalho div {
    margin-left: -20px;
    display: flex;
    align-items: center;
}
.cabecalho div img {
    height:100px;

}
.cabecalho div h1 {
    color: #fff;
}